

/*All devices
  %%%%   %%%%  %%%%%  %%%%%% %%%%%% %%  %% 
 %%     %%  %% %%  %% %%     %%     %%% %% 
  %%%%  %%     %%%%%  %%%%   %%%%   %% %%% 
     %% %%  %% %%  %% %%     %%     %%  %% 
  %%%%   %%%%  %%  %% %%%%%% %%%%%% %%  %% 
...........................................
*/

@media all{

	html {
		scroll-behavior: smooth;
	  }

	body{
		color: #fff;
		background-color: #282828;
	}

	*:focus {
		outline: none;
	}

	body{
		font-family: "MontserratWeb";
		font-size: 1.125em;
	}

	a{
		text-decoration: none;
	}

	.all-niv{
		display: flex;
		flex-direction: column;
	}


	/*Application style sur le global*/
	/*-------------------------------*/

	.global{
		position: relative;
		padding: 0;
		z-index: 10;
	}


	/*Application style sur le niveau 1*/
	/*--------------------------------*/

	.niv1{
		min-height: 100vh;
	}


	.niv1-h-intro-all{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#niv1-h-intro-1 h1{
		text-align: center;
		font-size: 3em;
		font-family: "LatoWebBold"
	}

	#niv1-h-intro-2{
		display: flex;
		justify-content: center;
	}

	#niv1-h-intro-2 button{
		font-size: 0.75em;
		letter-spacing: 0.1em;
		line-height: 1.2;
		font-family: "LatoWebMedium";
		text-transform: uppercase;
		max-width: 15em;
		cursor:pointer;
		border:0;
		color: #fff;
		background-color: #282828;
	}

	#niv1-h-intro-2 button a{
		color: #fff;
	}
	
	#niv1-h-intro-2 button div{
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	/*Application style sur le niveau 2*/
	/*--------------------------------*/



	.niv2 p{
		font-size: 1em;
		line-height: 1.5;
	}

	.niv2 h2{
		font-family: 'latoWebMedium';
		font-size: 1.7em;
	}



	  }
  
  
  

  
  
/*Desktop devices
 %%%%%  %%%%%%  %%%%  %%  %% %%%%%%  %%%%  %%%%%  
 %%  %% %%     %%     %% %%    %%   %%  %% %%  %% 
 %%  %% %%%%    %%%%  %%%%     %%   %%  %% %%%%%  
 %%  %% %%         %% %% %%    %%   %%  %% %%     
 %%%%%  %%%%%%  %%%%  %%  %%   %%    %%%%  %%     
..................................................
*/
  
  @media only screen and (min-width:1024px){
  
	article{
		padding-left:2em;
	}



  



	/*Application style sur le niveau 2*/
	/*--------------------------------*/

	.scroll{
		display: flex;
		flex-direction: row;
	}

	.scroll-text, .scroll-graphic{
		flex:1;
	}

	.niv2 p{
		padding-right: 4em;
	}

	.niv2 h2{
		font-family: 'latoWebMedium';
		font-size: 1.7em;
	}

	.niv2-c-section{
		padding: 15vh 0.5em 0em 5em;
	}

	.niv2-c-section:last-child{
		min-height: 100vh;
	}


  }
  

/*Mobile devices
 %%   %%  %%%%  %%%%%  %%%%%% %%     %%%%%% 
 %%% %%% %%  %% %%  %%   %%   %%     %%     
 %% % %% %%  %% %%%%%    %%   %%     %%%%   
 %%   %% %%  %% %%  %%   %%   %%     %%     
 %%   %%  %%%%  %%%%%  %%%%%% %%%%%% %%%%%% 
 ...........................................
*/
  
  
  @media (min-width:320px) and (max-width:1024px){
  


	#niv1-h-intro-1{
		margin-top: 2.5em;
	}

/*Application style sur le niveau 2*/
	/*--------------------------------*/

	.niv2-c-section{
		min-height: 100vh;
		padding: 0vh 2em 0em 2em;
	}















  }