/* LATO FONT */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

/* Webfont: Lato-Black */@font-face {
    font-family: "LatoWebBlack";
    src: url("../font/Lato-Black.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-Black.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-Black.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-Black.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
    font-family: "LatoWebBlack";
    src: url("../font/Lato-BlackItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-BlackItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-BlackItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-BlackItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: "LatoWebBold";
    src: url("../font/Lato-Bold.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-Bold.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-Bold.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-Bold.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: "LatoWebBold";
    src: url("../font/Lato-BoldItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-BoldItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-BoldItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-BoldItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
    font-family: "LatoWebHairline";
    src: url("../font/Lato-Hairline.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-Hairline.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-Hairline.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-Hairline.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-Hairline.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */@font-face {
    font-family: "LatoWebHairline";
    src: url("../font/Lato-HairlineItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-HairlineItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-HairlineItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-HairlineItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
    font-family: "LatoWebHeavy";
    src: url("../font/Lato-Heavy.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-Heavy.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-Heavy.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-Heavy.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
    font-family: "LatoWebHeavy";
    src: url("../font/Lato-HeavyItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-HeavyItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-HeavyItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-HeavyItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
    font-family: "LatoWeb";
    src: url("../font/Lato-Italic.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-Italic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-Italic.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-Italic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: "LatoWebLight";
    src: url("../font/Lato-Light.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-Light.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-Light.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-Light.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
    font-family: "LatoWebLight";
    src: url("../font/Lato-LightItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-LightItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-LightItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-LightItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
    font-family: "LatoWebMedium";
    src: url("../font/Lato-Medium.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-Medium.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-Medium.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-Medium.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
    font-family: "LatoWebMedium";
    src: url("../font/Lato-MediumItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-MediumItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-MediumItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-MediumItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: "LatoWeb";
    src: url("../font/Lato-Regular.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-Regular.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-Regular.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-Regular.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: "LatoWebSemibold";
    src: url("../font/Lato-Semibold.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-Semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-Semibold.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-Semibold.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-Semibold.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
    font-family: "LatoWebSemibold";
    src: url("../font/Lato-SemiboldItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-SemiboldItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-SemiboldItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-SemiboldItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
    font-family: "LatoWebThin";
    src: url("../font/Lato-Thin.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-Thin.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-Thin.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-Thin.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */@font-face {
    font-family: "LatoWebThin";
    src: url("../font/Lato-ThinItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Lato-ThinItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Lato-ThinItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Lato-ThinItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}


/* MONTSERRAT FONT */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */


/* Webfont: MontserratAlternates-Black */@font-face {
    font-family: "MontserratAlternatesWebBlack";
    src: url("../font/MontserratAlternates-Black.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-Black.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-Black.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-Black.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-BlackItalic */@font-face {
    font-family: "MontserratAlternatesWebBlack";
    src: url("../font/MontserratAlternates-BlackItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-BlackItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-BlackItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-BlackItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-Bold */@font-face {
    font-family: "MontserratAlternatesWebBold";
    src: url("../font/MontserratAlternates-Bold.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-Bold.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-Bold.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-Bold.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-BoldItalic */@font-face {
    font-family: "MontserratAlternatesWebBold";
    src: url("../font/MontserratAlternates-BoldItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-BoldItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-BoldItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-BoldItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-ExtraBold */@font-face {
    font-family: "MontserratAlternatesWebExtraBold";
    src: url("../font/MontserratAlternates-ExtraBold.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-ExtraBold.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-ExtraBold.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-ExtraBold.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-ExtraBoldItalic */@font-face {
    font-family: "MontserratAlternatesWebExtraBold";
    src: url("../font/MontserratAlternates-ExtraBoldItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-ExtraBoldItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-ExtraBoldItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-ExtraLight */@font-face {
    font-family: "MontserratAlternatesWebExtraLight";
    src: url("../font/MontserratAlternates-ExtraLight.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-ExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-ExtraLight.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-ExtraLight.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-ExtraLight.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-ExtraLightItalic */@font-face {
    font-family: "MontserratAlternatesWebExtraLight";
    src: url("../font/MontserratAlternates-ExtraLightItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-ExtraLightItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-ExtraLightItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-ExtraLightItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-Regular */@font-face {
    font-family: "MontserratAlternatesWeb";
    src: url("../font/MontserratAlternates-Regular.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-Regular.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-Regular.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-Regular.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-Italic */@font-face {
    font-family: "MontserratAlternatesWeb";
    src: url("../font/MontserratAlternates-Italic.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-Italic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-Italic.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-Italic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-Light */@font-face {
    font-family: "MontserratAlternatesWebLight";
    src: url("../font/MontserratAlternates-Light.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-Light.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-Light.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-Light.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-LightItalic */@font-face {
    font-family: "MontserratAlternatesWebLight";
    src: url("../font/MontserratAlternates-LightItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-LightItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-LightItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-LightItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-Medium */@font-face {
    font-family: "MontserratAlternatesWebMedium";
    src: url("../font/MontserratAlternates-Medium.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-Medium.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-Medium.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-Medium.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-MediumItalic */@font-face {
    font-family: "MontserratAlternatesWebMedium";
    src: url("../font/MontserratAlternates-MediumItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-MediumItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-MediumItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-MediumItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-SemiBold */@font-face {
    font-family: "MontserratAlternatesWebSemiBold";
    src: url("../font/MontserratAlternates-SemiBold.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-SemiBold.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-SemiBold.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-SemiBold.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-SemiBoldItalic */@font-face {
    font-family: "MontserratAlternatesWebSemiBold";
    src: url("../font/MontserratAlternates-SemiBoldItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-SemiBoldItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-SemiBoldItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-Thin */@font-face {
    font-family: "MontserratAlternatesWebThin";
    src: url("../font/MontserratAlternates-Thin.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-Thin.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-Thin.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-Thin.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: MontserratAlternates-ThinItalic */@font-face {
    font-family: "MontserratAlternatesWebThin";
    src: url("../font/MontserratAlternates-ThinItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/MontserratAlternates-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/MontserratAlternates-ThinItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/MontserratAlternates-ThinItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/MontserratAlternates-ThinItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-Black */@font-face {
    font-family: "MontserratWebBlack";
    src: url("../font/Montserrat-Black.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-Black.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-Black.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-Black.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-BlackItalic */@font-face {
    font-family: "MontserratWebBlack";
    src: url("../font/Montserrat-BlackItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-BlackItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-BlackItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-BlackItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-Bold */@font-face {
    font-family: "MontserratWebBold";
    src: url("../font/Montserrat-Bold.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-Bold.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-BoldItalic */@font-face {
	font-family: "MontserratWebBold";
    src: url("../font/Montserrat-BoldItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-BoldItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-BoldItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-BoldItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-ExtraBold */@font-face {
    font-family: "MontserratWebExtraBold";
    src: url("../font/Montserrat-ExtraBold.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-ExtraBold.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-ExtraBold.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-ExtraBold.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-ExtraBoldItalic */@font-face {
    font-family: "MontserratWebExtraBold";
    src: url("../font/Montserrat-ExtraBoldItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-ExtraBoldItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-ExtraBoldItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-ExtraBoldItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-ExtraLight */@font-face {
    font-family: "MontserratWebExtraLight";
    src: url("../font/Montserrat-ExtraLight.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-ExtraLight.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-ExtraLight.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-ExtraLight.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-ExtraLightItalic */@font-face {
	font-family: "MontserratWebExtraLight";
    src: url("../font/Montserrat-ExtraLightItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-ExtraLightItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-ExtraLightItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-ExtraLightItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-Regular */@font-face {
    font-family: "MontserratWeb";
    src: url("../font/Montserrat-Regular.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-Regular.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-Italic */@font-face {
    font-family: "MontserratWeb";
    src: url("../font/Montserrat-Italic.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-Italic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-Italic.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-Italic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-Light */@font-face {
    font-family: "MontserratWebLight";
    src: url("../font/Montserrat-Light.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-Light.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-Light.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-LightItalic */@font-face {
    font-family: "MontserratWebLight";
    src: url("../font/Montserrat-LightItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-LightItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-LightItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-LightItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-Medium */@font-face {
    font-family: "MontserratWebMedium";
    src: url("../font/Montserrat-Medium.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-Medium.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-Medium.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-MediumItalic */@font-face {
    font-family: "MontserratWebMedium";
    src: url("../font/Montserrat-MediumItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-MediumItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-MediumItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-MediumItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-SemiBold */@font-face {
    font-family: "MontserratWebSemiBold";
    src: url("../font/Montserrat-SemiBold.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-SemiBold.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-SemiBold.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-SemiBoldItalic */@font-face {
    font-family: "MontserratWebSemiBold";
    src: url("../font/Montserrat-SemiBoldItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-SemiBoldItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-SemiBoldItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-Thin */@font-face {
    font-family: "MontserratWebThin";
    src: url("../font/Montserrat-Thin.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-Thin.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-Thin.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-Thin.ttf") format("truetype");
    font-style: normal;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}

/* Webfont: Montserrat-ThinItalic */@font-face {
    font-family: "MontserratWebThin";
    src: url("../font/Montserrat-ThinItalic.eot"); /* IE9 Compat Modes */
    src: url("../font/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../font/Montserrat-ThinItalic.woff2") format("woff2"), /* Modern Browsers */
         url("../font/Montserrat-ThinItalic.woff") format("woff"), /* Modern Browsers */
         url("../font/Montserrat-ThinItalic.ttf") format("truetype");
    font-style: italic;
	font-weight: normal;
	unicode-range: U+000-5FF;
    text-rendering: optimizeLegibility;
}