

/*All devices
  %%%%   %%%%  %%%%%  %%%%%% %%%%%% %%  %% 
 %%     %%  %% %%  %% %%     %%     %%% %% 
  %%%%  %%     %%%%%  %%%%   %%%%   %% %%% 
     %% %%  %% %%  %% %%     %%     %%  %% 
  %%%%   %%%%  %%  %% %%%%%% %%%%%% %%  %% 
...........................................
*/

@media all{

	/*Application style sur le niveau 1*/
	/*--------------------------------*/

	.niv1{
		min-height: 100vh;
	}


	.niv1-h-intro-all{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#niv1-h-intro-1 h1{
		text-align: center;
		font-size: 3em;
		font-family: "LatoWebBold"
	}

	#niv1-h-intro-2{
		display: flex;
		justify-content: center;
	}

	#niv1-h-intro-2 button{
		font-size: 0.75em;
		letter-spacing: 0.1em;
		line-height: 1.2;
		font-family: "LatoWebMedium";
		text-transform: uppercase;
		max-width: 15em;
		cursor:pointer;
		border:0;
		color: #fff;
		background-color: #282828;
	}

	#niv1-h-intro-2 button a{
		color: #fff;
	}
	
	#niv1-h-intro-2 button div{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#niv1-c-header p{
		text-align: left;
		padding: 1em 15vw 0em 15vw;
		line-height: 1.5;
	}


}




/*Desktop devices
 %%%%%  %%%%%%  %%%%  %%  %% %%%%%%  %%%%  %%%%%  
 %%  %% %%     %%     %% %%    %%   %%  %% %%  %% 
 %%  %% %%%%    %%%%  %%%%     %%   %%  %% %%%%%  
 %%  %% %%         %% %% %%    %%   %%  %% %%     
 %%%%%  %%%%%%  %%%%  %%  %%   %%    %%%%  %%     
..................................................
*/
  
@media only screen and (min-width:1024px){
  



}



/*Mobile devices
 %%   %%  %%%%  %%%%%  %%%%%% %%     %%%%%% 
 %%% %%% %%  %% %%  %%   %%   %%     %%     
 %% % %% %%  %% %%%%%    %%   %%     %%%%   
 %%   %% %%  %% %%  %%   %%   %%     %%     
 %%   %%  %%%%  %%%%%  %%%%%% %%%%%% %%%%%% 
 ...........................................
*/
  
  
@media (min-width:320px) and (max-width:1024px){
  

	/*Application style sur le niveau 1*/
	/*--------------------------------*/
	#niv1-h-intro-1{
		margin-top: 2.5em;
	}

	#niv1-c-header p{
	padding: 0.5em 2em 0em 2em;
	}


}

