

/*All devices
  %%%%   %%%%  %%%%%  %%%%%% %%%%%% %%  %% 
 %%     %%  %% %%  %% %%     %%     %%% %% 
  %%%%  %%     %%%%%  %%%%   %%%%   %% %%% 
     %% %%  %% %%  %% %%     %%     %%  %% 
  %%%%   %%%%  %%  %% %%%%%% %%%%%% %%  %% 
...........................................
*/

@media all{

	html {
		scroll-behavior: smooth;
	  }

	body{
		color: #fff;
		background-color: #282828;
	}

	*:focus {
		outline: none;
	}

	body{
		font-family: "MontserratWeb";
		font-size: 1.125em;
	}

	a{
		text-decoration: none;
	}

	.all-niv{
		display: flex;
		flex-direction: column;
	}


	/*Application style sur le global*/
	/*-------------------------------*/

	.global{
		position: relative;
		padding: 0;
		z-index: 10;
	}

	h1,h2{
		color: #adc285;
	}

	.text-bold{
		font-family: "MontserratWebMedium";
		font-style: normal;
		color: #adc285;
	}
	
	.text-italic{
		font-family: "MontserratWeb";
		font-style: italic;
	}



	/*Application style sur l'interlude*/
	/*--------------------------------*/

	.section-interlude{
		background: #fefee0;
		color: black;
		min-height: 100vh;
		box-shadow: inset 0px 0px 20px 5px rgba(50, 50, 50, 0.4);
	}

	#section-interlude-wallpaper1{
		background: url(../img/interlude-1.jpg) center 0 no-repeat fixed;
		min-height:100vh;
		overflow: hidden;
		background-size:cover;
	}


	#section-interlude-wallpaper2{
		background: url(../img/interlude-2.jpg) center 0 no-repeat fixed;
		min-height:100vh;
		overflow: hidden;
		background-size:cover;
	}

	.interlude-text{
		background: rgba(254, 254, 254, 08);
		color: black;
		font-family: "MontserratWebMedium";
		font-weight: normal;
		margin-bottom: 60vh;
		padding: 3em;
	}

	#interlude-text1 p:first-child{
		border-top: 1px solid #000;
		padding-top: 20px;

	}

	#interlude-text1 p:last-child{
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
	}

	#interlude-text2 p{
		border-top: 1px solid #000;
		padding-top: 20px;
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
	}


	/*Application style sur le niveau 2*/
	/*--------------------------------*/



	.niv2 p{
		font-size: 1em;
		line-height: 1.5;
	}

	.niv2 h2{
		font-family: 'latoWebMedium';
		font-size: 1.7em;
	}

	/*Scroll graphic*/
	.scroll-graphic object{
		width: 100%;
	  }
	
	/*Application sur les notes de bas de page*/

	.notes{
		margin-right: 2em;
		margin-top: 5em;
		border-top: 1px solid rgb(255,255,255);
	  }


	  c-notes-number{
		  font-size:0em;
	  }

	  .c-notes-number span:first-child{
		float: left;
		font-size: 0.9em;
	  }

	  .c-notes-number span:last-child{
		font-size: 0.9em;
		line-height: 1.5;
	  }

	  .notes-number-link{
		  font-family: "MontserratWebLight";
		  font-style: italic;
		  font-weight: normal;
		  color: #ffadad; 
	  }

	  .notes-number-link:hover{
		  color: #ff3333;
	  }

	  .notes-external-link{
		  color: #ffadad; 
	  }

	  .notes-external-link:hover{
		color: #ff3333;
	}



	  .notes-box{
		  border-top: 1px solid rgb(255,255,255);
		  position: fixed;
		  z-index: 100;
		  max-height: 60%;
		  bottom:-1px;
		  background-color: #282828;
		  margin-left: -5em;
		  padding-left: 5em;
		  font-size: 0.85em;
		  width: 100%;
	  }

	  .notes-box-div-visible{
		display: block !important;
	}


		.notes-box-ref{
		  display: none;
		  color: #fff;
		  margin-right: 13vw;
		  
	  }

	  .notes-box .c-notes-number{
		  display:block;
	  }



	}
  
  
  

  
  
/*Desktop devices
 %%%%%  %%%%%%  %%%%  %%  %% %%%%%%  %%%%  %%%%%  
 %%  %% %%     %%     %% %%    %%   %%  %% %%  %% 
 %%  %% %%%%    %%%%  %%%%     %%   %%  %% %%%%%  
 %%  %% %%         %% %% %%    %%   %%  %% %%     
 %%%%%  %%%%%%  %%%%  %%  %%   %%    %%%%  %%     
..................................................
*/
  
@media only screen and (min-width:1024px){
  
	article{
		padding-left:2em;
	}



	/*Application style sur le niveau 2*/
	/*--------------------------------*/

	.scroll{
		display: flex;
		flex-direction: row;
	}

	.scroll-text, .scroll-graphic{
		flex:1;
	}

	.niv2 p{
		padding-right: 4em;
	}

	.niv2 h2{
		font-family: 'latoWebMedium';
		font-size: 1.7em;
	}

	.niv2-c-section{
		padding: 15vh 0.5em 0em 5em;
	}

	.niv2-c-section:last-child{
		min-height: 100vh;
	}

	/*All section*/

	.scroll-graphic{
		position: sticky;
		top:15vh;
		padding: 15vh 2em 0em 0em;
	}
	
	
	.scroll-graphic object{
		position: inherit;
		top: inherit;
	}
	
		/*Section 3*/
		#c-04-section3, #c-05-section3{
		display: none;
	}
	
		/*Section 4*/
		#c-07-section4{
		display: none;
	}
	
		/*Section 5*/
		#c-09-section5{
		display: none;
	}
	
		/*Section 6*/
		#c-11-section6{
		display: none;
	}

	/*Interlude*/
	.section-interlude{
			margin-left: 2em;
		}

  }
  

/*Mobile devices
 %%   %%  %%%%  %%%%%  %%%%%% %%     %%%%%% 
 %%% %%% %%  %% %%  %%   %%   %%     %%     
 %% % %% %%  %% %%%%%    %%   %%     %%%%   
 %%   %% %%  %% %%  %%   %%   %%     %%     
 %%   %%  %%%%  %%%%%  %%%%%% %%%%%% %%%%%% 
 ...........................................
*/
  
  
  @media (min-width:320px) and (max-width:1024px){
  
	#niv2-c-section1{
		padding-top: 15vh;
	}


	/*Application style sur le niveau 2*/
	/*--------------------------------*/

	.niv2-c-section{
		min-height: 100vh;
		padding: 1em 2em 1em 2em;
	}



	/*Section 3*/
	#c-04-section3, #c-05-section3{
		display: block;
	}

	/*Section 4*/
	#c-07-section4{
		display: block;
	}

	/*Section 5*/
	#c-09-section5{
		display: block;
	}

	/*Section 6*/
	#c-11-section6{
		display: block;
	}




  }