

/*All devices
  %%%%   %%%%  %%%%%  %%%%%% %%%%%% %%  %% 
 %%     %%  %% %%  %% %%     %%     %%% %% 
  %%%%  %%     %%%%%  %%%%   %%%%   %% %%% 
     %% %%  %% %%  %% %%     %%     %%  %% 
  %%%%   %%%%  %%  %% %%%%%% %%%%%% %%  %% 
...........................................
*/

@media all{

	html {
		scroll-behavior: smooth;
		height: 100vh;
		min-height: 100%;
	  }

	body{
		color: #fff;
		background-color: #282828;
	}

	*:focus {
		outline: none;
	}

	body{
		font-family: "MontserratWeb";
		font-size: 1.125em;
	}

	a{
		text-decoration: none;
	}

	.all-niv{
		display: flex;
		flex-direction: column;
	}


	/*Application style sur le global*/
	/*-------------------------------*/

	.global{
		position: relative;
		padding: 0;
		z-index: 10;
	}

	h1,h2{
		color: #adc285;
	}

	.text-bold{
		font-family: "MontserratWebMedium";
		font-style: normal;
		color: #adc285;
	}
	
	.text-italic{
		font-family: "MontserratWeb";
		font-style: italic;
	}



	/*Application style sur l'interlude*/
	/*--------------------------------*/

	.section-interlude{
		background: #969696;
		color: black;
		min-height: 100vh;
		box-shadow: inset 0px 0px 20px 5px rgba(50, 50, 50, 0.4);
	}

	#section-interlude-wallpaper1{
		background: url(../img/interlude-1.jpg) center 0 no-repeat fixed;
		min-height:100vh;
		overflow: hidden;
		background-size:cover;
	}


	#section-interlude-wallpaper2{
		background: url(../img/interlude-2.jpg) center 0 no-repeat fixed;
		min-height:100vh;
		overflow: hidden;
		background-size:cover;
	}

	.interlude-text{
		background: rgba(254, 254, 254, 08);
		color: black;
		font-family: "MontserratWebMedium";
		font-weight: normal;
		margin-top: 30vh;
		margin-bottom: 30vh;
		padding: 3em;
	}

	#interlude-text1 p:first-child{
		border-top: 1px solid #000;
		padding-top: 20px;

	}

	#interlude-text1 p:last-child{
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
	}

	#interlude-text2 p{
		border-top: 1px solid #000;
		padding-top: 20px;
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
	}


	/*Application style sur le niveau 2*/
	/*--------------------------------*/



	.niv2 p{
		font-size: 1em;
		line-height: 1.5;
	}

	.niv2 h2{
		font-family: 'latoWebMedium';
		font-size: 1.7em;
	}

	/*Scroll graphic*/
	.scroll-graphic object{
		width: 100%;
	  }

	#c-svg-01, #c-svg-04, #c-svg-06{
		width: 100%;
	}
	
	/*Application sur les notes de bas de page*/

	.notes{
		margin-right: 2em;
		margin-top: 5em;
		border-top: 1px solid rgb(255,255,255);
	  }


	  c-notes-number{
		  font-size:0em;
	  }

	  .c-notes-number span:first-child{
		float: left;
		font-size: 0.9em;
	  }

	  .c-notes-number span:last-child{
		font-size: 0.9em;
		line-height: 1.5;
	  }

	  .notes-number-link{
		  font-family: "MontserratWebLight";
		  font-style: italic;
		  font-weight: normal;
		  color: #ffadad; 
	  }

	  .notes-number-link:hover{
		  color: #ff3333;
	  }

	  .notes-external-link{
		  color: #ffadad; 
	  }

	  .notes-external-link:hover{
		color: #ff3333;
	}



	  .notes-box{
		  border-top: 1px solid rgb(255,255,255);
		  position: fixed;
		  z-index: 100;
		  max-height: 60%;
		  bottom:-1px;
		  background-color: #282828;
		  margin-left: -5em;
		  padding-left: 5em;
		  font-size: 0.85em;
		  width: 100%;
	  }

	  .notes-box-div-visible{
		display: block !important;
	}


		.notes-box-ref{
		  display: none;
		  color: #fff;
		  margin-right: 13vw;
		  
	  }

	  .notes-box .c-notes-number{
		  display:block;
	  }

	  /*Application sur les boutons des graphiques*/

	  .toolbar{
		  margin-top: 2em;
		  margin-bottom: 2em;
		  margin-left: 1.5em;
		  display: flex;
		  flex-direction: row;
		  flex-wrap: wrap;
	  }


	  .button{
		  min-width: 130px;
		  text-align: center;
		  text-decoration: none;
		  color: #ffadad;
		  padding: 0.3em 0.5em 0.3em 0.5em;
		  cursor: pointer;
		  text-transform: uppercase;
		  border-radius:1em;
		  transition: all 80ms linear;
		  user-select: none;
		  font-size: 0.8em;
		  margin: 0.5em;
		  font-family: "MontserratWebMedium";
		  font-style: normal;
		  letter-spacing: 0.05em;
		  white-space: nowrap;
	}
  
	.button.active {
		border: 2px solid white;
		color: #ffadad;
	  }
  
	  .button:hover{
		border: 2px solid white;
		color: #ff3333;
	  }
  

	  #toolbar-03, #toolbar-04{
		  display: flex;
		  flex-direction: row;	  
	  }

	  #c-input-03, #c-input-04{
		  width: 70%;
	  }

	   /*Application sur le slider*/


	  .slider{
		  -webkit-appearance: none;
		  appearance: none;
		  width: 100%;
		  transition: background 0.2s;
		  border-radius: 25px;
		  margin-top: 0.6em;
	  }

	  .slider:focus{
		outline: none;
	  }

	  .slider:focus {
		outline: none;
	  }

	  .slider::-webkit-slider-runnable-track {
		width: 100%;
		height: 12.8px;
		cursor: pointer;
		animation: 0.2s;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		background: #ffadad;
		border-radius: 25px;
		border: 0px solid #000101;
	  }

	  .slider::-webkit-slider-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 39px;
		border-radius: 7px;
		background: #969696;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -3.6px;
	  }
	  .slider:focus::-webkit-slider-runnable-track {
		background: #ffadad;
	  }

	  .slider:hover::-webkit-slider-runnable-track{
		background: #ff3333;
	  }

	  .slider::-moz-range-track {
		width: 100%;
		height: 12.8px;
		cursor: pointer;
		animation: 0.2s;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		background: #ffadad;
		border-radius: 25px;
		border: 0px solid #000101;
	  }

	  .slider:hover::-moz-range-track{
			background: #ff3333;
		  }


	  .slider::-moz-range-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 39px;
		border-radius: 7px;
		background: #969696;
		cursor: pointer;
	  }

	  .slider::-ms-track {
		width: 100%;
		height: 12.8px;
		cursor: pointer;
		animation: 0.2s;
		background: transparent;
		border-color: transparent;
		border-width: 39px 0;
		color: transparent;
	  }
	  .slider::-ms-fill-lower {
		background: #ffadad;
		border: 0px solid #000101;
		border-radius: 50px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  }

	  .slider:hover::-ms-fill-lower{
		background: #ff3333;
	  }

	  .slider::-ms-fill-upper {
		background: #ffadad;
		border: 0px solid #000101;
		border-radius: 50px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  }

	  .slider:hover::-ms-fill-upper{
		background: #ff3333;
	  }


	  .slider::-ms-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 39px;
		border-radius: 7px;
		background: #969696;
		cursor: pointer;
	  }


	  .slider:focus::-ms-fill-lower {
		background: #ffadad;
	  }


	  .slider:focus::-ms-fill-upper {
		background: #ffadad;
	  }


	  #output-03-bullet, #output-04-bullet{
		  position: relative;
		  display: block;
		  text-align: center;
		  transform-origin: center center;
		  width:100px;
		  margin-left: -33px;
	  }



	  #c-output-03, #c-output-04{
		  margin-left: 2em;
		  display: none;
	  }


	}

  
/*Desktop devices
 %%%%%  %%%%%%  %%%%  %%  %% %%%%%%  %%%%  %%%%%  
 %%  %% %%     %%     %% %%    %%   %%  %% %%  %% 
 %%  %% %%%%    %%%%  %%%%     %%   %%  %% %%%%%  
 %%  %% %%         %% %% %%    %%   %%  %% %%     
 %%%%%  %%%%%%  %%%%  %%  %%   %%    %%%%  %%     
..................................................
*/
  
@media only screen and (min-width:1024px){
  
	article{
		padding-left:2em;
	}



	/*Application style sur le niveau 2*/
	/*--------------------------------*/

	.scroll{
		display: flex;
		flex-direction: row;
	}

	.scroll-text, .scroll-graphic{
		flex:1;
	}

	.niv2 p{
		padding-right: 4em;
	}

	.niv2 h2{
		font-family: 'latoWebMedium';
		font-size: 1.7em;
	}

	.niv2-c-section{
		padding: 3em 0.5em 3em 5em;
	}

	.niv2-c-section:last-child{
		min-height: 100vh;
	}

	/*All section*/

	.scroll-graphic{
		position: sticky;
		top:15vh;
		padding: 1em 2em 0em 0em;
	}
	
	
	#c-01-section1, #c-03-section3, #c-04-section3, #c-05-section3, #c-06-section4, #c-07-section5{
		position: sticky;
		top: inherit;
	}



	#c-svg-01, #c-svg-04, #c-svg-05, #c-svg-06, #c-svg-07{
		min-width: "320px";
		max-width: "1024px";
	}
	

	
		/*Section 4*/
		#c-07-section4{
		display: none;
	}
	
		/*Section 5*/
		#c-09-section5{
		display: none;
	}
	
		/*Section 6*/
		#c-11-section6{
		display: none;
	}

	/*Interlude*/
	.section-interlude{
			margin-left: 2em;
		}

  }
  

/*Mobile devices
 %%   %%  %%%%  %%%%%  %%%%%% %%     %%%%%% 
 %%% %%% %%  %% %%  %%   %%   %%     %%     
 %% % %% %%  %% %%%%%    %%   %%     %%%%   
 %%   %% %%  %% %%  %%   %%   %%     %%     
 %%   %%  %%%%  %%%%%  %%%%%% %%%%%% %%%%%% 
 ...........................................
*/
  
  
  @media (min-width:320px) and (max-width:1024px){
  
	#niv2-c-section1{
		padding-top: 15vh;
	}


	/*Application style sur le niveau 2*/
	/*--------------------------------*/

	.niv2-c-section{
		min-height: 100vh;
		padding: 1em 2em 1em 2em;
	}



	/*Section 3*/
	#c-04-section3, #c-05-section3{
		display: block;
	}

	/*Section 4*/
	#c-07-section4{
		display: block;
	}

	/*Section 5*/
	#c-09-section5{
		display: block;
	}

	/*Section 6*/
	#c-11-section6{
		display: block;
	}

	/*Application sur le container du slider*/
	#toolbar-03, #toolbar-04{
		margin-right: 1.5em;	 
		justify-content: center; 
	}

	#c-input-03, #c-input-04{
		width: 80%;
	}



  }