

/*All devices
  %%%%   %%%%  %%%%%  %%%%%% %%%%%% %%  %% 
 %%     %%  %% %%  %% %%     %%     %%% %% 
  %%%%  %%     %%%%%  %%%%   %%%%   %% %%% 
     %% %%  %% %%  %% %%     %%     %%  %% 
  %%%%   %%%%  %%  %% %%%%%% %%%%%% %%  %% 
...........................................
*/

@media all{

	nav{
		z-index: 200;
	  }
  
	  #alert{
		display:none;
	  }




	}
  
  

  
  
/*Desktop devices
 %%%%%  %%%%%%  %%%%  %%  %% %%%%%%  %%%%  %%%%%  
 %%  %% %%     %%     %% %%    %%   %%  %% %%  %% 
 %%  %% %%%%    %%%%  %%%%     %%   %%  %% %%%%%  
 %%  %% %%         %% %% %%    %%   %%  %% %%     
 %%%%%  %%%%%%  %%%%  %%  %%   %%    %%%%  %%     
..................................................
*/
  
  @media only screen and (min-width:1024px){
  

	/*Application style sur la barre de navigation*/
	/*--------------------------------------------*/

	nav{
		position: fixed;
		display: flex;
		top: 0;
		left: 0;
		height: 100vh;
		max-width: 2em;
		width: auto;
		flex-direction: column;
		align-items: flex-start;
		padding: 72px 1em 72px 1.2em;
		background-color: #fff;
		transition: max-width .5s cubic-bezier(.5,0,.5,1);
		overflow: hidden;
	}

	nav ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		white-space: nowrap;
	}

	.accueil_ot{
		margin-bottom: 2em;
	}

	.nav-bullet{
		margin: 0 0 1em;
	}

	.nav-link-menu{
		transition: all .3s ease-out;
		color:  #000;
	}

	nav:hover .nav-text-menu{
		color: #000;
	}

	.nav-link-menu:hover .nav-text-menu{
		color: #5c7829;
	}


	nav:hover{
		max-width: 100%;
		width: auto;
	}

	.nav-bullet-menu{
		content: "";
		position: absolute;
		width: 12px;
		height: 12px;
		border: 1px solid #5c7829;
		border-radius: 50%;
		transition: background .15s ease-out;
		margin-left: -32px;
		cursor: pointer;
	}

	.nav-text-menu{
		font-family: 'latoWeb';
		font-size: 0.75em;
		text-transform: uppercase;
		color: transparent;
		transition: color .2s ease-out;
	}


	/*Color bullet*/
	.nav-link-menu:active .nav-bullet-menu{
		background: #779933;
	}

	.nav-bullet-menu-visible{
		background: #779933;
	}

	.nav-logo-ot{
		width: 2em;
		margin-left: -0.3em;
	}


	/*Text content title*/
	.nav-content-title{
		display: none;
	}


	/*Alert*/
	#alert{
		flex-direction: column;
		justify-content: space-between;
		position:fixed;
		top:25vh;
		left: 25%;
		width:50vw;
		height:auto;
		background:white;
		color: black;
		text-align: center;
		z-index:1000;
		border-radius:0.5em;
	}


	#alert-text{
		padding: 1em 1.5em 1em 1.5em;
	}

	#alert p{
		line-height: 1.5em;
	}

	#alert button{
		cursor: pointer;
		border: 2px solid #646464;
		text-decoration: none;
		color: #ffadad;
		padding: 0.3em 0.5em 0.3em 0.5em;
		cursor: pointer;
		text-transform: uppercase;
		border-radius:1em;
		background: none;
		font-family: "MontserratWebMedium";
		font-style: normal;
		margin-bottom:2em;
	}

	#alert button:hover{
		border: 2px solid black;
		color: #ff3333;
	  }

	#alert hr{
		width: 80%;
	}


}
  

/*Mobile devices
 %%   %%  %%%%  %%%%%  %%%%%% %%     %%%%%% 
 %%% %%% %%  %% %%  %%   %%   %%     %%     
 %% % %% %%  %% %%%%%    %%   %%     %%%%   
 %%   %% %%  %% %%  %%   %%   %%     %%     
 %%   %%  %%%%  %%%%%  %%%%%% %%%%%% %%%%%% 
 ...........................................
*/
  
  
@media (min-width:320px) and (max-width:1024px){

	nav{
		position: fixed;
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		top: 0;
		left: 0;
		background: #fff;
		padding: 1vw 30px 1vh 30px;
	}
	
	.nav-bullet{
		display: none;
	}

	.nav-logo-ot{
		width: 2em;
	}

	/*Text content title*/
	.nav-content-title{
		color:#282828;
	}




}