

/*All devices
  %%%%   %%%%  %%%%%  %%%%%% %%%%%% %%  %% 
 %%     %%  %% %%  %% %%     %%     %%% %% 
  %%%%  %%     %%%%%  %%%%   %%%%   %% %%% 
     %% %%  %% %%  %% %%     %%     %%  %% 
  %%%%   %%%%  %%  %% %%%%%% %%%%%% %%  %% 
...........................................
*/

@media all{

  
  text{
    font-size: 0.5em;
    fill: #f0f0f0;
  }

  .scroll-graphic object{
    width: 100%;
  }



}




/*Desktop devices
 %%%%%  %%%%%%  %%%%  %%  %% %%%%%%  %%%%  %%%%%  
 %%  %% %%     %%     %% %%    %%   %%  %% %%  %% 
 %%  %% %%%%    %%%%  %%%%     %%   %%  %% %%%%%  
 %%  %% %%         %% %% %%    %%   %%  %% %%     
 %%%%%  %%%%%%  %%%%  %%  %%   %%    %%%%  %%     
..................................................
*/


@media only screen and (min-width:1024px){


  /*All section*/

  .scroll-graphic{
    position: sticky;
    top:15vh;
    padding: 15vh 2em 0em 0em;
  }


  .scroll-graphic object{
    position: inherit;
    top: inherit;
  }

  /*Section 3*/
  #c-04-section3, #c-05-section3{
    display: none;
  }

  /*Section 4*/
  #c-07-section4{
    display: none;
  }

    /*Section 5*/
    #c-09-section5{
      display: none;
    }


    /*Section 6*/
    #c-11-section6{
      display: none;
    }


    
/*Mobile devices
 %%   %%  %%%%  %%%%%  %%%%%% %%     %%%%%% 
 %%% %%% %%  %% %%  %%   %%   %%     %%     
 %% % %% %%  %% %%%%%    %%   %%     %%%%   
 %%   %% %%  %% %%  %%   %%   %%     %%     
 %%   %%  %%%%  %%%%%  %%%%%% %%%%%% %%%%%% 
 ...........................................
*/
  
  
@media (min-width:320px) and (max-width:1024px){

}