

/*All devices
  %%%%   %%%%  %%%%%  %%%%%% %%%%%% %%  %% 
 %%     %%  %% %%  %% %%     %%     %%% %% 
  %%%%  %%     %%%%%  %%%%   %%%%   %% %%% 
     %% %%  %% %%  %% %%     %%     %%  %% 
  %%%%   %%%%  %%  %% %%%%%% %%%%%% %%  %% 
...........................................
*/

@media all{

  text, tspan{
    font-family: "MontserratWebMedium";
    font-style: normal;
    fill: #f0f0f0;
    font-size: 11px;
  }

  .label{
    font-size:11px;
  }


  .y_axis text{
    text-anchor: end;
  }


  /*svg-04*/
  .paths{
    fill: none;
    pointer-events: all;
  }

  .paths:hover .circles{
    fill: red;
  }

  


  .region{
    fill:none;
    stroke-opacity: 1;
    stroke:#fff;
}

  /*pop-up*/

.my-popup {
  position: absolute;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  opacity:1;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 #282828;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 1px 1px 1px #000;
  color: white;
  font: 10px sans-serif;
  padding: 5px;
  pointer-events: none;
  font-size: 0.9em;
  z-index:10000;
}

.my-popup div div{
  font-size: 13px;
}

.my-popup strong{
  font-size:14px;
}

.my-popup em{
  font-size:13px;
}

.my-popup span{
  font-size: 13px;
}

  /*svg-06*/

  .tick line{
    stroke: #fffff0;
  }

  .line{
    fill: none;
    stroke-width:2px;
  }

  .y_axis :nth-child(5) line{
    stroke-width: 1.5px;
  }



}


/*4 steps for svg text
max px
  800 px
  620 px
  480 px
  320 px
min px
*/


/*
db       .d8b.  d8888b.  d888b  d88888b 
88      d8' `8b 88  `8D 88' Y8b 88'     
88      88ooo88 88oobY' 88      88ooooo 
88      88~~~88 88`8b   88  ooo 88~~~~~ 
88booo. 88   88 88 `88. 88. ~8~ 88.     
Y88888P YP   YP 88   YD  Y888P  Y88888P    
..................................................
*/
@media only screen and (min-width:800px){


}


/*
.d888b.  .d88b.   .d88b.  
88   8D .8P  88. .8P  88. 
`VoooY' 88  d'88 88  d'88 
.d~~~b. 88 d' 88 88 d' 88 
88   8D `88  d8' `88  d8' 
`Y888P'  `Y88P'   `Y88P' 
*/                                              
                                                
@media (min-width:620px) and (max-width:800px){

    


}

    
/*
   dD   .d888b.  .d88b.  
  d8'   VP  `8D .8P  88. 
 d8'       odD' 88  d'88 
d8888b.  .88'   88 d' 88 
88' `8D j88.    `88  d8' 
`8888P  888888D  `Y88P' 
*/

@media (min-width:480px) and (max-width:620px){



}





/*
  j88D  .d888b.  .d88b.  
 j8~88  88   8D .8P  88. 
j8' 88  `VoooY' 88  d'88 
V88888D .d~~~b. 88 d' 88 
    88  88   8D `88  d8' 
    VP  `Y888P'  `Y88P'  
*/

@media (min-width:320px) and (max-width:480px){



}

/*
d8888b. .d888b.  .d88b.  
VP  `8D VP  `8D .8P  88. 
  oooY'    odD' 88  d'88 
  ~~~b.  .88'   88 d' 88 
db   8D j88.    `88  d8' 
Y8888P' 888888D  `Y88P' 
*/
@media only screen and (max-width:320px){



}