

/*All devices
  %%%%   %%%%  %%%%%  %%%%%% %%%%%% %%  %% 
 %%     %%  %% %%  %% %%     %%     %%% %% 
  %%%%  %%     %%%%%  %%%%   %%%%   %% %%% 
     %% %%  %% %%  %% %%     %%     %%  %% 
  %%%%   %%%%  %%  %% %%%%%% %%%%%% %%  %% 
...........................................
*/

@media all{

	html {
		scroll-behavior: smooth;
		height: 100vh;
		min-height: 100%;
	  }

	body{
		color: #fff;
		background-color: #282828;
	}

	*:focus {
		outline: none;
	}

	body{
		font-family: "MontserratWeb";
		font-size: 1.125em;
	}

	a{
		text-decoration: none;
	}

	.all-niv{
		display: flex;
		flex-direction: column;
	}


	/*Application style sur le global*/
	/*-------------------------------*/

	.global{
		position: relative;
		padding: 0;
		z-index: 10;
	}

	h1,h2{
		color: #adc285;
	}

	.text-bold{
		font-family: "MontserratWebMedium";
		font-style: normal;
		color: #adc285;
	}
	
	.text-italic{
		font-family: "MontserratWeb";
		font-style: italic;
	}



	/*Application style sur l'interlude*/
	/*--------------------------------*/

	.section-interlude{
		display: flex;
		background: #969696;
		color: black;
		min-height: 100vh;
		box-shadow: inset 0px 0px 20px 5px rgba(50, 50, 50, 0.4);
	}

	#section-interlude-wallpaper1{
		background: url(../img/interlude.jpg) center 0 no-repeat fixed;
		min-height:100vh;
		overflow: hidden;
		background-size:cover;
	}


	#section-interlude-wallpaper2{
		background: url(../img/interlude.jpg) center 0 no-repeat fixed;
		min-height:100vh;
		overflow: hidden;
		background-size:cover;
	}

	.interlude-text{
		align-self: center;
		background: rgba(254, 254, 254, 0.95);
		color: black;
		font-family: "MontserratWebMedium";
		font-weight: normal;
		margin-top: 30vh;
		margin-bottom: 30vh;
		padding: 3em;
	}

	#interlude-text1 h6:first-child{
		border-top: 1px solid #000;
		padding-top: 20px;

	}

	#interlude-text1 h6:last-child{
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
	}

	#interlude-text2 h6{
		border-top: 1px solid #000;
		padding-top: 20px;
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
	}

	h6{
		font-size: 1em;
		line-height: 1.5;
		font-family: "MontserratWebMedium";
		font-weight: normal;
		padding:0;
	}
	/*Application style sur le niveau 2*/
	/*--------------------------------*/



	.niv2 p{
		font-size: 1em;
		line-height: 1.5;
	}

	.niv2 h2{
		font-family: 'latoWebMedium';
		font-size: 1.7em;
	}

	/*Scroll graphic*/
	.scroll-graphic object{
		width: 100%;
	  }


	
	/*Application sur les notes de bas de page*/

	.notes{
		margin-right: 2em;
		margin-top: 5em;
		border-top: 1px solid rgb(255,255,255);
	  }

	.note-end{
		padding: 0.5em;
	}

	  c-notes-number{
		  font-size:0em;
	  }

	  .c-notes-number span:first-child{
		float: left;
		font-size: 0.9em;
	  }

	  .c-notes-number span:last-child{
		font-size: 0.9em;
		line-height: 1.5;
	  }

	  .notes-number-link, .link{
		  font-family: "MontserratWebLight";
		  font-style: italic;
		  font-weight: normal;
		  color: #ffadad; 
	  }

	  .notes-number-link:hover, .link:hover{
		  color: #ff3333;
	  }

	  .notes-external-link{
		  color: #ffadad; 
	  }

	  .notes-external-link:hover{
		color: #ff3333;
	}



	  .notes-box{
		  border-top: 1px solid rgb(255,255,255);
		  position: fixed;
		  z-index: 100;
		  max-height: 60%;
		  bottom:-1px;
		  background-color: #282828;
		  margin-left: -5em;
		  padding-left: 5em;
		  font-size: 0.9em;
		  width: 100%;
	  }

	  .notes-box-div-visible{
		display: block !important;
	}


		.notes-box-ref{
		  display: none;
		  color: #fff;
		  margin-right: 13vw;
		  padding:0.35em;	  
	  }

	  .notes-box .c-notes-number{
		  display:block;
	  }

	  /*Application sur les boutons des graphiques*/

	  .toolbar{
		  margin-top: 1em;
		  margin-bottom: 2em;
		  margin-left: 1.5em;
		  display: flex;
		  flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			padding-right:4em;
		}

		.toolbar-title{
			margin-top: 2em;
			text-transform: uppercase;
			font-family: "MontserratWebMedium";
			font-style: normal;
			font-size:0.9em;
			color:#adc285;
		}

	  .button{
		  min-width: 130px;
		  text-align: center;
		  text-decoration: none;
		  color: #ffadad;
		  padding: 0.3em 0.5em 0.3em 0.5em;
		  cursor: pointer;
		  text-transform: uppercase;
		  border-radius:1em;
		  transition: all 80ms linear;
		  user-select: none;
		  font-size: 0.8em;
		  margin: 0.5em;
		  font-family: "MontserratWebMedium";
		  font-style: normal;
		  letter-spacing: 0.05em;
			white-space: nowrap;
	}
  
	.button.active {
		border: 2px solid white;
		color: #ffadad;
	  }
  
	  .button:hover{
		border: 2px solid white;
		color: #ff3333;
	  }
	


	  #toolbar-03, #toolbar-04, #toolbar-07{
		  display: flex;
		  flex-direction: row;	  
	  }

	  #c-input-03, #c-input-04, #c-input-07{
		  width: 70%;
	  }

	   /*Application sur le slider*/


	  .slider{
		  -webkit-appearance: none;
		  appearance: none;
		  width: 100%;
		  transition: background 0.2s;
		  border-radius: 25px;
		  margin-top: 0.6em;
	  }

	  .slider:focus{
		outline: none;
	  }

	  .slider:focus {
		outline: none;
	  }

	  .slider::-webkit-slider-runnable-track {
		width: 100%;
		height: 12.8px;
		cursor: pointer;
		animation: 0.2s;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		background: #ffadad;
		border-radius: 25px;
		border: 0px solid #000101;
	  }

	  .slider::-webkit-slider-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 39px;
		border-radius: 7px;
		background: #969696;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -3.6px;
	  }
	  .slider:focus::-webkit-slider-runnable-track {
		background: #ffadad;
	  }

	  .slider:hover::-webkit-slider-runnable-track{
		background: #ff3333;
	  }

	  .slider::-moz-range-track {
		width: 100%;
		height: 12.8px;
		cursor: pointer;
		animation: 0.2s;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		background: #ffadad;
		border-radius: 25px;
		border: 0px solid #000101;
	  }

	  .slider:hover::-moz-range-track{
			background: #ff3333;
		  }


	  .slider::-moz-range-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 39px;
		border-radius: 7px;
		background: #969696;
		cursor: pointer;
	  }

	  .slider::-ms-track {
		width: 100%;
		height: 12.8px;
		cursor: pointer;
		animation: 0.2s;
		background: transparent;
		border-width: 39px 0;
		color: transparent;
	  }
	  .slider::-ms-fill-lower {
		background: #ffadad;
		border: 0px solid #000101;
		border-radius: 50px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  }

	  .slider:hover::-ms-fill-lower{
		background: #ff3333;
	  }

	  .slider::-ms-fill-upper {
		background: #ffadad;
		border: 0px solid #000101;
		border-radius: 50px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  }

	  .slider:hover::-ms-fill-upper{
		background: #ff3333;
	  }


	  .slider::-ms-thumb {
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		border: 0px solid #000000;
		height: 20px;
		width: 39px;
		border-radius: 7px;
		background: #969696;
		cursor: pointer;
	  }


	  .slider:focus::-ms-fill-lower {
		background: #ffadad;
	  }


	  .slider:focus::-ms-fill-upper {
		background: #ffadad;
	  }


	  #output-03-bullet, #output-04-bullet, #output-07-bullet{
		  position: relative;
		  display: block;
		  text-align: center;
		  transform-origin: center center;
		  width:100px;
		  margin-left: -33px;
	  }



	  #c-output-03, #c-output-04, #c-output-07{
		  margin-left: 2em;
		  display: none;
	  }



		/*Extra section*/


		#c-extra{
			background: rgba(254, 254, 254, 1);
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			color:#282828;
			box-shadow: inset 0px 0px 20px 5px rgba(50, 50, 50, 0.4)
		}

		#c-extra img{
			border-radius: 50%;
			width:100%;
			height:auto;
			max-width: 10em;
		}

		.c-extra1{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			color: #808080; 
			font-family: "MontserratWebMedium";
			transition: 0.3s ease-in-out;
		}

		
		.c-extra1:hover{
			color: #5c7829;
		}

		.c-extra1 img{
			filter: grayscale(100%);
			transition: 0.3s ease-in-out;
		}

		.c-extra1:hover img{
			filter: grayscale(0);
		}

		#c-extra:hover img{
			filter: grayscale(0);
		}

		.c-extra-image{
			width:20%;
			align-self: center;
		}

		.c-extra-texte{
			width:60%;
			display:flex;
			align-items: center;
		}

		.extra-h5{
			margin:0;
			padding-right:1em;
			padding-left:1em;
		}

		#c-end{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding-top:1em;
		}

		.social-media{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
		}

		.social-media-facebook{
			padding-left:3em;
		}

		.social-media-twitter{
			padding-left:1em;
		}

		.social-media-linkedin{
			padding-left: 1em;
		}

		.credits div{
			font-size:0.8em;
		}


		#alert-small-device{
			display:none;
			width:90vw;
			top:25vh;
			left:5%;
		  }
		  #alert-large-device{
			display:none;
			width:50vw;
			top:25vh;
			left: 25%;
		  }
	
	
	
		/*Alert*/
		.alert{
			flex-direction: column;
			justify-content: space-between;
			position:fixed;
			height:auto;
			background:white;
			color: black;
			text-align: center;
			z-index:1000;
			border-radius:0.5em;
		}
	
	
		.alert-text{
			padding: 1em 1.5em 1em 1.5em;
		}
	
		.alert p{
			line-height: 1.5em;
		}
	
		.alert button{
			cursor: pointer;
			border: 2px solid #646464;
			text-decoration: none;
			color: #ffadad;
			padding: 0.3em 0.5em 0.3em 0.5em;
			cursor: pointer;
			text-transform: uppercase;
			border-radius:1em;
			background: none;
			font-family: "MontserratWebMedium";
			font-style: normal;
			margin-bottom:2em;
		}
	
		.alert button:hover{
			border: 2px solid black;
			color: #ff3333;
		  }
	
		.alert hr{
			width: 80%;
		}
	
	
	









		}

  
/*Desktop devices
 %%%%%  %%%%%%  %%%%  %%  %% %%%%%%  %%%%  %%%%%  
 %%  %% %%     %%     %% %%    %%   %%  %% %%  %% 
 %%  %% %%%%    %%%%  %%%%     %%   %%  %% %%%%%  
 %%  %% %%         %% %% %%    %%   %%  %% %%     
 %%%%%  %%%%%%  %%%%  %%  %%   %%    %%%%  %%     
..................................................
*/
  
@media only screen and (min-width:1024px){
  
	main{
		padding-left:2em;
	}


	.c-graphic{
		display: block;
	}

	.c-graphic-min{
		display: none;
	}


	/*Application style sur le niveau 2*/
	/*--------------------------------*/

	.scroll{
		display: flex;
		flex-direction: row;
	}

	.scroll-text, .scroll-graphic{
		flex:1;
	}

	.niv2 p{
		padding-right: 4em;
	}

	.niv2 h2{
		font-family: 'latoWebMedium';
		font-size: 1.7em;
	}

	.niv2-c-section{
		padding: 3em 0.5em 3em 5em;
		min-height: 100vh;
	}


	/*All section*/

	.scroll-graphic{
		position: sticky;
		top:15vh;
		padding: 1em 2em 0em 0em;
	}
	
	
	#c-01-section1, #c-02-section2,#c-03-section3, #c-04-section3, 
	#c-05-section3, #c-06-section4, #c-07-section5, #c-08-section6,
	#c-10-section7, #c-11-section8{
		position: sticky;
		top: inherit;
	}



	#c-svg-01, #c-svg-02, #c-svg-03, #c-svg-04, #c-svg-05,
	#c-svg-06, #c-svg-07, #c-svg-08, #c-svg-10,
	#c-svg-11{
		min-width: 320px;
		max-width: 1024px;
	}


	
	#c-04-section3 .svg-title{
		display:none;
	}


		/*Text break scroll image*/


	.break-section3{
		min-height: 100vh;
	}

	.break-section3, .break-10, .break-11{
		opacity: 0.4;
	}


		.section7-text{
			min-height: 100vh;
		}


		.section8-text{
			min-height: 100vh;
		}
	

	/*Interlude*/
	.section-interlude{
			margin-left: 2em;
		}


	#c-extra{
		padding: 2em 3em 2em 5em;
		margin-left:4em;
	}


	#c-end{
		padding-left:4em;
	}

	.credits div{
		font-size:0.8em;
		padding-right: 3em;

	}



  }
  

/*Mobile devices
 %%   %%  %%%%  %%%%%  %%%%%% %%     %%%%%% 
 %%% %%% %%  %% %%  %%   %%   %%     %%     
 %% % %% %%  %% %%%%%    %%   %%     %%%%   
 %%   %% %%  %% %%  %%   %%   %%     %%     
 %%   %%  %%%%  %%%%%  %%%%%% %%%%%% %%%%%% 
 ...........................................
*/
  
  
  @media (min-width:320px) and (max-width:1024px){
  
	.niv2-c-section1{
		padding-top: 15vh;
	}


	.c-graphic{
		display: none;
	}

	.c-graphic-min{
		display: block;
	}


	/*Application style sur le niveau 2*/
	/*--------------------------------*/

	.niv2-c-section{
		min-height: 100vh;
		padding: 1em 2em 1em 2em;
	}


	#c-extra{
		padding: 1em 2em 1em 2em;
	}




	/*Application sur le container du slider*/
	#toolbar-03, #toolbar-04, #toolbar-07{
		margin-right: 1.5em;	 
		justify-content: center; 
	}

	#c-input-03, #c-input-04, #c-input-07{
		width: 80%;
	}

	.scroll-graphic-min{
		min-width: 570px;
	}

	.credits div{
		padding-left:3em;
		padding-right: 3em;
	}




  }